// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.cordova-de-debugger {
}

.plugins-settings-left-menu-bar-container {
  flex: 1;
  border-right: 1px solid #191919;
  background: #282c34;
}

.plugins-settings-left-menu-list-item > div {
    padding: 10px;
}

.plugins-settings-left-menu-list-item.menu-item-selected {
  background: #48505f;
}

.plugins-settings-left-menu-list-item:hover {
  background: #3b424e;
}

.plugins-settings-panel {
  height: 100%;
  overflow-y: scroll;
  flex:4;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.hidden-panel {
  display: none;
}
